# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Hydra
outputs/
multirun/

# Remote execution
logs/
codebase.zip

# Project Specific
results/
myeasylog.log
license.json
test*.csv
tmp*.json

# VS Code
.vscode/
