# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Hydra
multirun/

# Remote execution
logs/
codebase.zip

# Project Specific
myeasylog.log
license.json
test*.csv
tmp*.json

# VS Code
.vscode/

# Node.js
node_modules/
dist/
out.mp4

results/
outputs/